SoapMesaPingPong/WebContent/wsdl/MesaSoap.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://service" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://service" xmlns:intf="http://service" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://service" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="mesa">
    <complexType>
     <sequence>
      <element name="ping" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="mesaResponse">
    <complexType>
     <sequence>
      <element name="mesaReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="mesaResponse">

      <wsdl:part element="impl:mesaResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="mesaRequest">

      <wsdl:part element="impl:mesa" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="MesaSoap">

      <wsdl:operation name="mesa">

         <wsdl:input message="impl:mesaRequest" name="mesaRequest">

       </wsdl:input>

         <wsdl:output message="impl:mesaResponse" name="mesaResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="MesaSoapSoapBinding" type="impl:MesaSoap">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="mesa">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="mesaRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="mesaResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="MesaSoapService">

      <wsdl:port binding="impl:MesaSoapSoapBinding" name="MesaSoap">

         <wsdlsoap:address location="http://localhost:8080/SoapMesaPingPong/services/MesaSoap"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
